.sidebar-container {
  width: 280px;
  background-color: #1B1B1F;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar-header {
  padding: 20px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-title {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.sidebar-icon {
  color: #fff;
  font-size: 24px;
}

.sidebar-list {
  flex: 1;
  overflow-y: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-list::-webkit-scrollbar {
  width: 8px;
}

.sidebar-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.sidebar-list::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 4px;
}

.sidebar-list::-webkit-scrollbar-thumb:hover {
  background-color: #3a3a3a;
}

.sidebar-list-item {
  margin: 0;
}

.sidebar-list-button {
  background-color: #2d2d2d;
  border-radius: 12px;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: left;
}

.sidebar-list-button:hover {
  background-color: #2E2D34;
}

 /* Avatar*/
.sidebar-avatar {
  width: 40px;
  height: 40px;
 
  background-color: #666;
  background-image: url("/https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRioGo_pbVJGR_cjfoHIlxgwNyzsfrd_KP9iQ&s");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.sidebar-content {
  flex: 1;
  min-width: 0;
}

.sidebar-name {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

.sidebar-preview {
  color: #999;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
